[Desktop Entry]
Version=2.2.1
Type=Application
Name=Pymail
Comment=Simple mail viewer and sender
GenericName=Mail notifier
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;
Exec=pymail-gtk
Icon=pymail-gtk
Terminal=false
StartupNotify=true
